<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">

<head>
    <title>Add ship Form</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="map" th:href="@{/css/bootstrap.min.css.map}">

</head>

<body>
    <div style="padding: 2%;">
        <!--form  -->
        <div class="card border-info" style="width:40rem;">
            <div class="card login-form">
                <h3 class="card-header text-center text-info"> Add Ship </h3>
                <div class="card-body">
                    <div class="card-text">
                        <form action="#" th:action="@{/admin/ship/add}" th:object="${newship}" method="POST">
                            <div class="form-group">
                                <label>Ship Model ID</label>
                                <select th:field="*{modelId}" class="custom-select">
                                    <option th:each="shipmodel: ${shipmodels}" th:text="${shipmodel.getModelName()}"
                                        th:value="${shipmodel.getModelId()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Ship Status </label>
                                <select th:field="*{shipStatusCode}" class="custom-select">
                                    <option th:each="shipstatus: ${shipstatuses}" th:text="${shipstatus.getKey()}"
                                        th:value="${shipstatus.getValue()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label> Manufacturing Date </label>
                                <input type="datetime-local" th:field="*{mfDate}" class="form-control form-control-sm"
                                    required>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>