<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">

<head>
	<title>room booking list</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<div style="padding: 2%;">
		<div class="card border-info">
			<h3 class="card-header text-info"> Room Bookings </h3>
			<div class="card-body">
				<table class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th> Room ID</th>
							<th> Transaction ID </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="roombooking: ${room_bookings}">
							<td th:text="${roombooking.getRoomId()}"></td>
							<td th:text="${roombooking.getTransactionId()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>