<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<title>Voyage Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
						crossorigin="anonymous">
</head>
<body>
	<form action="#" th:action="@{/admin/crew}" th:object="${newcrew}" method="POST" >
		<label> EmployeeId</label>
		<input type="number" th:field="*{employeeId}" placeholder="Enter employee ID" required>
		<label> VoyageId</label>
		<input type="number" th:field="*{voyageId}" placeholder="Enter voyage ID" required>
		<label> Role</label>
		<input type="text" th:field="*{role}" placeholder="Enter role" required>
		
		<button type="submit" class="btn btn-primary">Submit</button>

</body>
</html>

