<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<title>shpmodel Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
						crossorigin="anonymous">
</head>
<body>
	<form action="#" th:action="@{/admin/shipmodel}" th:object="${newshipmodel}" method="POST" >
		<label> Room count</label>
		<input type="number" th:field="*{roomCount}" placeholder="Enter Room count" required>
		<label> Modelname</label>
		<input type="text" th:field="*{modelName}" placeholder="Enter model name" required>
		
		<button type="submit" class="btn btn-primary">Submit</button>

</body>
</html>

