<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<title>Employee</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
						crossorigin="anonymous">

</head>
<body>

	<div class="row">
		<div class="col-lg-3">
			<a th:href="@{/admin/employee/add}" class="btn btn-primary btn-sm mb-3">Hire Employee </a>
		</div>
	</div>
	
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th> Employee ID</th>
				<th> User ID</th>
				<th> Joining Date</th>
                <th> Employee Status</th>
				<th> Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee: ${employees}">
			    <td th:text="${employee.getEmployeeId()}"></td>
				<td th:text="${employee.getUserId()}"></td>
				<td th:text="${employee.getJoinDate()}"></td>
                <td th:text="${empployeestatuses.get(employee.getEmployeeStatusCode())}"></td>
				<td>
					<a th:href="@{/admin/employee/{id}/update (id=${employee.getEmployeeId()})}"
					   class="btn btn-primary">Update</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>