<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
  <title>Voyages</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body>


<div style="padding: 10px;">
  <!--form  -->
  <div class="card" style="width:40rem;">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-left"> Voyages </h3>
        <div class="card-text">
          <form th:action="@{/voyages(fromid=fromid)}" method="get">
            <div class="form-group">
              <label>Departing From </label>
              <select th:name="fromid" class="custom-select">
                <option value="-1">All</option>
                <option
                        th:each="harbor: ${harbors}"
                        th:text="${harbor.getLocation()}"
                        th:value="${harbor.getHarborId()}"></option>
              </select>

            </div>
            <div class="form-group">
              <label>Arriving At </label>
              <select th:name="fromid" class="custom-select">
                <option value="-1">All</option>
                <option
                        th:each="harbor: ${harbors}"
                        th:text="${harbor.getLocation()}"
                        th:value="${harbor.getHarborId()}"></option>
              </select>
            </div>
            <div class="form-group">
              <label> Departing Time </label>
              <input type="datetime-local" th:name="fromdate" class="form-control form-control-sm">
            </div>
            <div class="form-group">
              <label> Arrival Time </label>
              <input type="datetime-local" th:name="todate" class="form-control form-control-sm">
            </div>
            <button  type="submit" class="btn btn-primary btn-block" > Search </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-3">
    <a th:href="@{/admin/voyage/add}" class="btn btn-primary btn-sm mb-3">Add Voyage </a>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th> Voyage ID</th>
    <th> Fare</th>
    <th> Ship Serial ID</th>
    <th> Ship Model Name</th>
    <th> Departure Harbor</th>
    <th> Arrival Harbor</th>
    <th> Departure Time</th>
    <th> Arrival Time</th>
    <th> Voyage Status</th>
    <th> Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="voyage: ${voyages}">
    <td th:text="${voyage.getVoyage().getVoyageId()}"></td>
    <td th:text="${voyage.getVoyage().getShipSerialId()}"></td>
    <td th:text="${voyage.getVoyage().getFare()}"></td>
    <td th:text="${voyage.getDepartureHarborName()}"></td>
    <td th:text="${voyage.getArrivalHarborName()}"></td>
    <td th:text="${voyage.getVoyage().getDepartureTime()}"></td>
    <td th:text="${voyage.getVoyage().getArrivalTime()}"></td>
    <td th:text="${voyage.getVoyageStatusDesc()}"></td>

    <td>
      <a th:href="@{/admin/voyage/{id} (id=${voyage.getVoyage().getVoyageId()})}"
         class="btn btn-primary">Details</a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>